<footer>
	<div id="footer-left">
		<a href="mailto:jjones668@gatech.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/jamesashtonjones"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/jamesashtonjones"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> James Ashton Jones
	</div>
</footer>
